/*********************************************************
 * 01. Hide unnecessary toolbar buttons
 *********************************************************/
#alltabs-button,
#sidebar-button,
#bookmarks-menu-button,
#fxa-toolbar-menu-button,
#firefox-view-button,
#downloads-button,
#library-button,
#history-panelmenu {
  display: none !important;
}

/*********************************************************
 * 02. Tab styling
 *********************************************************/
.tabbrowser-tab[selected="true"] .tab-background {
    border-radius: 14px !important;
}

.tabbrowser-tab:not([selected="true"]):hover .tab-background {
    border-radius: 14px !important;
}

/*********************************************************
 * 03. Tab bar adjustments
 *********************************************************/
#tabbrowser-tabs {
  border-inline-start: none !important;
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
}

/*********************************************************
 * 04. Titlebar spacers
 *********************************************************/
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
  width: 0px !important;
}

/*********************************************************
 * 05. Toolbar padding
 *********************************************************/
#TabsToolbar {
    padding-inline-start: 2px !important;
}

