* {
  font-family: "UbuntuMono Nerd Font";
  font-size: 18px;
}

window {
  margin: 20px;
  border: 2px solid #444444;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.95);
  color: #E0E0E0
}

#input {
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #1A1A1A;
  color: #FFFFFF;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
}

#entry {
  border-radius: 8px;
  color: #E0E0E0;
}

#entry:focus {
  outline: none;
}

#entry:selected {
  background-color: #1A1A1A;
}

#text {
  color: #E0E0E0;
  margin: 5px;
  padding-left: 5px; 
  border: none;
}

#text:selected {
  color: #E0E0E0;
  font-weight: bold;
}

scrollbar {
  background-color: transparent;
  background-image: none;
  border: none;
  ox-shadow: none;
  min-width: 0;
  width: 0;
}

scrollbar slider {
  background-color: transparent;
  background-image: none;
  border: none;
  ox-shadow: none;
  min-width: 0;
  min-height: 0;
  width: 0;
  height: 0;
}
